You are receiving this email because you have requested a password reset at {{appName}}.

To complete the process, please click on the following link or paste it into your browser:

http://{{url}}/#/auth/reset-password/{{token}}

If you did not request this, please ignore this email and your password will remain unchanged.